@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Signika:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  transition: background 1s ease-in-out;
}

body {
  background-color: grey;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.App.daytime {
  background-image: url("./assets/desktop/bg-image-daytime.jpg");
}

.App.nighttime {
  background-image: url("./assets/desktop/bg-image-nighttime.jpg");
}

.hello {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quote-time-container {
  position: absolute;
  bottom: 0;
  padding: 4rem;
}


.time-details-wrapper {
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 4rem;
  width: 100%;
  padding: 2rem 2rem 0 9rem;
}

.buttonMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  color: #555;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  right: 4rem;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.buttonMenu img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.buttonMenu:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.buttonMenu:focus {
  outline: none;
}

.buttonMenu:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
