@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Signika:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.App {
  display: flex;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  transition: background 1s ease-in-out;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background-color: grey;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.App.daytime {
  background-image: url("./assets/desktop/bg-image-daytime.jpg");
}

.App.nighttime {
  background-image: url("./assets/desktop/bg-image-nighttime.jpg");
}

.hello {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quote-time-container {
  padding: 4rem;
}

.time-details-wrapper {
  margin-left: auto;
  width: 100%;
  color: black;
  background-color: #f1f1f1;
  filter: opacity(0.9);
}

.buttonMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  color: #555;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  bottom: 80px;
  right: 4rem;
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.buttonMenu img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.buttonMenu:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.buttonMenu:focus {
  outline: none;
}

.buttonMenu:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.details-container {
  overflow: hidden; 
  transition: max-height 0.5s ease;
}

.details-container.collapsed {
  max-height: 0;
}

.details-container.expanded {
  max-height: 500px;
}
.quote-time-wrapper {
  position: relative;
  transition: transform 0.5s ease, margin 0.5s ease;
}

.quote-time-wrapper.details-visible .quote-time-container {
  transform: translateY(
    -25px
  ); 
}

.details-content {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.left-side{
  border-right: 1px solid #303030;
  padding-right: 19rem;
}
.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  color: #303030;
}
h2 + p {
  font-size: 4rem;
  font-weight: 600;
  color: #303030;
}

@media (max-width: 1024px) {
  .left-side {
    padding-right: 10rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 7rem !important;
  }
  span {
    font-size: 2rem !important;
  }
  .quote-author {
    font-size: 1rem !important;
  }
  .left-side {
    border: none;
  }
}

@media (max-width: 475px) {
  .quote-time-container p {
    font-size: 1rem;
  }
  h2 {
    font-size: .6rem;
  }
  h2 + p {
    font-size: 1.8rem;
  }
}